@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

.snapshot-container {
  display: grid;
  grid-template-areas: 's s s s s s' 'ph ph ph ph ph ph' 'd d d d d d ' 'su su su su su su' 'l l l l l l ' 'sp sp sp sp sp sp' 'lc lc lc lc lc lc' 'si si si si si si' 'la la la la la la';
}

.snapshot {
  grid-area: s;
  grid-column: 1 / -1;
  grid-row: 1;
}

.pheading {
  grid-area: ph;
  grid-column: 1 / 5;
  grid-row: 2;
}

.pheading > h1 {
  margin: 8px 0 5px 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.date {
  grid-area: d;
  grid-column: 1/-1;
  grid-row: 3;
  margin: 8px 0 5px 5px;
}

.summary,
.summary-about {
  grid-area: su;
  grid-column: 1/-1;
  grid-row: 4;
  margin-left: 5px;
}

.summary > h2,
.summary-about > h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  grid-area: l;
  grid-column: 1/-1;
  margin-left: 5px;
  grid-row: 5;
}

.languages > ul > li {
  text-align: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see-project,
.about-see-project {
  grid-area: sp;
  grid-column: 1/ -1;
  grid-row: 6;
}

button {
  box-sizing: border-box;
  margin-top: 25px;
  padding: 13px;
  margin-left: 0 5px 0 5px;
  gap: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 13px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.date > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.languages > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.before-about-space {
  margin: 80px 0 0 5px;
}

.lets-connect {
  grid-area: lc;
  grid-row: 5;
  grid-column: 1/ -1;
}

.lets-connect > h5 {
  margin: 0 0 0 5px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-icons {
  grid-area: si;
  grid-row: 6;
  grid-column: 1 / -1;
}

.social-icons > ul {
  margin-left: -35px;
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.social-icons img:hover {
  transform: scale(1.5);
}

a {
  text-decoration: none;
}

.summary-about {
  margin-top: -12px;
}

.about-see-project {
  margin-top: -25px;
}

.drowdown > h1,
.framework > h1,
.skills > h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.drowdown {
  grid-area: la;
  grid-column: 2 / 5;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.framework {
  grid-area: la;
  grid-column: 2 / 5;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skills {
  grid-area: la;
  grid-column: 2 / 5;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
