.card{
  padding: 10px;
}
.desktop-work-detail{
  margin: 20px;
  /* display: flex; */
  flex-direction: column;
}

ul{
  list-style: none;
}
.project_details , .project_coding_langs{
  
  display: flex;
  flex-direction: row;
}

.project_details > li
,.project_coding_langs > li {
  margin: 10px;
}

.first-card{
margin-top: 120px;
margin-bottom: 120px;
}


.icons-so {
  font-size: 30px;
  margin: 7px;
}

.rounded-bg {
  border-radius: 150px 0 0 0;
}

.main-headline {
  background-image: url(images/big-header-svg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  background-image: url(images/desktop-contact-form.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.github-share {
  width: 24px;
}

.modal-content{
    width: 40rem;
}